
<div class="clearfix">
  <div class="col-b">
    <div class="result clearfix">
      <div class="result-desc">
        <h1>
          2008 Quivera Goat Trek Zinfindel
        </h1>
        <span class="SKUInformation">SKU #1124211</span>

                <span class="H2ReviewNotes">
                90 points Wine Spectator
                </span>

        <p>
          <img src="images/OuterQuote.gif" alt=" " />
          Notes of blackberry and black cherry are accented by tobacco and spice in this concentrated red, which is fresh and lively, with a firm finish. Drink now through 2014.   (10/ 2012)
          <img src="images/InnerQuote.gif" alt=" " />

          (11/ 2012)

        </p>


                <span class="H2ReviewNotes">
                James Suckling
                </span>

        <p>
          <img src="images/OuterQuote.gif" alt=" " />
          Another fresh and fruity young wine with lovely cherry and lemon character. Medium body, with light tannins and a clean finish. Always excellent value.
          <img src="images/InnerQuote.gif" alt=" " />

          (9/ 2012)

        </p>


                <span class="H2ReviewNotes">
                Robert Parker's Wine Advocate
                </span>

        <p>
          <img src="images/OuterQuote.gif" alt=" " />
          The 2011 Casamatta Rosso is an attractive, juicy wine bursting with sweet red berries, flowers, licorice, mint and spices. It shows lovely body and depth in a fresh, vinous style best suited for near-term drinking. Aging should not be a problem, as I imagine most bottles will be long gone by the time that is an issue. The Casamatta Rosso is a terrific value, too. Anticipated maturity: 2012-2014.
          <img src="images/InnerQuote.gif" alt=" " />
          (6/2012)

        </p>
      </div>

      <!-- product zoom -->

      <!-- ratings information -->
      <div class="result-info">

                        <span class="price">Price: <span class="global-serif global-pop-color"><strong>
                          $9.99
                        </strong></span></span>

        <div class="qty">
          <label for="qty">
            Quantity:</label>
          <input type="text" id="Text1" name="qty" size="3" class="alignC" maxlength="3" value="1"
                 onkeypress="return defaultEnter(this,event)" /></div>
        <input type="hidden" id="Hidden1" name="sku" value="1125157">
      </div>
    </div>
  </div>

</div>
<!--<div class="prod-feature-block clearfix">	-->


<div class="prod-feature-block clearfix">
  <table>
    <tr>
      <td>
        <h3 class="detail_h2">
          Product Reviews:</h3>
      </td>
      <td style="width: 10px">
      </td>
      <td>


        <h3 class="detail_h2">
          <a style="color: #531010" href="/CustomerReviews/EditReview.aspx?guid=AB8494129B9549A2B0B13E586AB40135&sku=1125157&Mode=add&Page=detail">
            Add your own review of this item</a></h3>

      </td>
    </tr>
  </table>


  <table>
    <tr>
      <td>

        <img src="/staff/images_staff/joemanekin.gif" width="57px" height="75px" />

      </td>
      <td>

        By:&nbsp;<a href="/Bio.asp?PRID=151&Type=S">Greg St. Clair</a>&nbsp;|&nbsp;
        K&L Staff Member&nbsp; |&nbsp;

        Review Date:&nbsp;3/6/2013&nbsp;
        <div class="ReviewTextDetail">
          This is a drinker! Bibi has given us a real bargain, something for everyday drinking that is balanced, fresh, full of light strawberry/cherry fruit but not simple at all. This wine shows good structure yet is supple on the palate and has a surprisingly long finish for wines in this category. Taste a sip of Tuscany.
        </div>

      </td>
      <td>

        By:&nbsp;<a href="/Bio.asp?PRID=151&Type=S">Chris Miller</a>&nbsp;|&nbsp;
        K&L Staff Member&nbsp; |&nbsp;

        Review Date:&nbsp;3/6/2013&nbsp;
        <div class="ReviewTextDetail">
          I don't remember exactly when or where I first came across the wines of Bibi Graetz, but I've been a fan for close to a decade (his first wines hit the states in 2001 or 2002). This entry level offering is a stunner for the paltry price tag. Lovely, bouncy red cherry and red raspberry on the nose, the wine has a zesty fruit profile that brings to mind cru Beaujolais. Soft yet well structured tannins, nice length and depth on the palate, and a complexity that would lead me to believe this wine could be double the price makes for one heck of a Tuesday night sipper. Buy this one by the case. CM
        </div>

      </td>
    </tr>
  </table>
  <br />

</div>

<!-- end content -->
</body>
</html>