
<div class="clearfix">
  <div class="col-b">
    <div class="result clearfix">
      <div class="result-desc">
        <h1>
          2011 Borsao &quot;Tinto Selecci&#243;n&quot; Garnacha Campo de Borja
        </h1>
        <span class="SKUInformation">SKU #1125157</span>

                <span class="H2ReviewNotes">
                90
                     points
                Robert Parker's Wine Advocate
                </span>

        <p>
          <img src="images/OuterQuote.gif" alt=" " />
          Another outstanding effort is the 2011 Tinto, a blend of 85% Grenache (called Garnacha in Spain) and 15% Tempranillo that is fermented and aged in stainless steel. Possibly the single greatest dry red wine value in the world, this is an unbelievable wine. And don't complain that you can't find any, as there are 15,000 cases available, and any wine retailer worth his weight should be stockpiling this wine next to the cash register. Its deep ruby/purple color is followed by classic aromas of kirsch liqueur intermixed with raspberries, loamy soil and flowers. This medium to full-bodied wine possesses remarkable depth, an expansive texture and wonderful freshness as well as purity. On taste alone, this beauty could easily sell for $30-50 a bottle... This is a marvelous consumer resource for high quality wines selling at absurdly low prices. I often ask myself, if I had known wines like this existed when I began my career 33 years ago, would I have even considered trying to find great wines at low prices? Bodegas Borsao, which was founded in 1958, owns 3,700 acres in what is one of the emerging, super quality, realistically priced wine regions of not only Spain, but all of Western Europe, Campo de Borja. The soils tend to be dominated by a white chalkiness with considerable alluvial gravel and pebbles. The climate is continental, meaning extremely hot summers and cold winters with some influence from the nearby Ebro River.
          <img src="images/InnerQuote.gif" alt=" " />

          (10/ 2012)

        </p>


                <span class="H2ReviewNotes">
                Stephen Tanzer's International Wine Cellar
                </span>

        <p>
          <img src="images/OuterQuote.gif" alt=" " />
          Inky purple.  Aromas and flavors of blueberry, blackberry and bitter cherry are brightened by peppery spices.  Concentrated and velvety in texture, with good finishing breadth and cling.  Heftier and darker in profile than the Monte Oton, and an equally outstanding value.
          <img src="images/InnerQuote.gif" alt=" " />

          (9/ 2012)

        </p>


                <span class="H2ReviewNotes">
                Wine Spectator
                </span>

        <p>
          <img src="images/OuterQuote.gif" alt=" " />
          The boysenberry and cherry fruit has a hard-candy character in this rich red, accented with clove and dill. Features light tannins and citrusy acidity. (Web-2013)
          <img src="images/InnerQuote.gif" alt=" " />

        </p>
      </div>

      <!-- product zoom -->

      <!-- ratings information -->
      <div class="result-info">

                        <span class="price">Price: <span class="global-serif global-pop-color"><strong>
                          $7.99
                        </strong></span></span>

        <div class="qty">
          <label for="qty">
            Quantity:</label>
          <input type="text" id="Text1" name="qty" size="3" class="alignC" maxlength="3" value="1"
                 onkeypress="return defaultEnter(this,event)" /></div>
        <input type="hidden" id="Hidden1" name="sku" value="1125157">
      </div>
    </div>
  </div>

</div>
<!--<div class="prod-feature-block clearfix">	-->


<div class="prod-feature-block clearfix">
  <table>
    <tr>
      <td>
        <h3 class="detail_h2">
          Product Reviews:</h3>
      </td>
      <td style="width: 10px">
      </td>
      <td>


        <h3 class="detail_h2">
          <a style="color: #531010" href="/CustomerReviews/EditReview.aspx?guid=AB8494129B9549A2B0B13E586AB40135&sku=1125157&Mode=add&Page=detail">
            Add your own review of this item</a></h3>

      </td>
    </tr>
  </table>


  <table>
    <tr>
      <td>

        <img src="/staff/images_staff/joemanekin.gif" width="57px" height="75px" />

      </td>
      <td>

        By:&nbsp;<a href="/Bio.asp?PRID=151&Type=S">Joe Manekin</a>&nbsp;|&nbsp;
        K&L Staff Member&nbsp; |&nbsp;

        Review Date:&nbsp;3/6/2013&nbsp;
        <div class="ReviewTextDetail">
          This Garnacha is all about the fruit. Plentiful, bright, raspberry and red cherry fruit. Compared to some of our other recent Garnacha emails, it is lighter on its feet, perhaps a bit juicier, and in no way less satisfying. To paraphrase a popular cereal commercial from my youth, this wine is Manekin tested and Barr approved. At $7.99 a bottle it's hard to not fall for this value red.
        </div>

      </td>
    </tr>
  </table>
  <br />

</div>

<!-- end content -->
</body>
</html>